  {{#if interests.length}}
  <div class="col-md-12 project-list">
   <h3>Current interests</h3>
   <br>
   <br>
    {{#each interests as |interest|}}
    <div class="row mb-2">
      <div class="col-md-6">

        <h4><a href="/interests/{{interest.id}}">{{interest.savs}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id="delete" class="btn btn-sm btn-primary" data-id="{{interest.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  
</div>

<script src="./js/actualsavs.js"></script>
