<div class="row" id="middle">
  <div class="col-md-12">

<form class="form-addsav">
  <div>
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title" required>
  </div>
  <div>
    <label for="description">DESCRIPTION</label>
    <input type="description" name="description" id="description" required>
  </div>
    <div>
    <label for="category">CATEGORY</label>
    <select id="category"> 
      <option value="movies">Movie</option>
      <option value="concerts">Concerts</option>
      <option value="restaurants">Restaurants</option>
      <option value="music">Music</option>

    </select>
  </div>
  <br>
  <br>
  <div>
   <button class="btn btn-primary" type="submit" value="ADD SAV">Add Sav!</button>
   <button class="btn btn-primary" type="submit" id="see_save">See Sav!</button>
  </div>
</form>
</div>
</div>
<script src="/js/homepage.js"></script>