<h1>HOMEPAGE</h1>

<form class="form-addsav">
  <div>
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title" required>
  </div>
  <div>
    <label for="description">DESCRIPTION</label>
    <input type="description" name="description" id="description" required>
  </div>
    <div>
    <label for="category">CATEGORY</label>
    <input type="category" name="category" id="category" required>
  </div>
  
  <div>
    <input type="submit" value="ADD SAV">
  </div>
</form>

<script src="/js/homepage.js"></script>