<!-- We are not counting the number of times we visit this page -->
<!-- But we are showing the number of times we visited the homepage -->
<section class="container">
  <section class="interest">
    <p>Category: {{category}}</p>
    <div class="interest-details">
      <h3>{{savs}}</h3>
      <p>{{description}}</p>
    </div>
  </section>
</section>